package me.snowdrop.istio.client.internal;


import io.fabric8.kubernetes.client.Handlers;

public class HandlersRegistration {
  static {
#foreach ($m in ${model.values()})
    #set ($pkg = $m.packageName)
    #set ($pkgParts = $pkg.split("\."))
    #set ($pkgVersionIndex = $pkgParts.size() - 1)
    #set ($pkgGroupIndex = $pkgParts.size() - 2)
    #set ($pkgVersion = $pkgParts[$pkgVersionIndex])
    #set ($pkgGroup = $pkgParts[$pkgGroupIndex])
    #set ($package = "me.snowdrop.istio.client.internal.operation.${pkgGroup}.${pkgVersion}")
    Handlers.register(${pkg}.${m.name}.class, ${package}.${m.name}OperationImpl::new);
#end
  }
}
